header{
  background-image: url("https://blenderartists.org/forum/attachment.php?attachmentid=219798&d=1362008216");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
}
.content-wrapper nav{
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-flow: row;
  justify-content:space-between;
  background: #181818;
  opacity:0.80;
}
.content-wrapper nav ul{
  width: 25%;
  display: flex;
  flex-flow:row;
  justify-content: space-evenly;
}
.content-wrapper nav ul li{
  list-style: none;
}
.content-wrapper nav ul li a{
 color: white;
 text-decoration: none;
}

.headline-content{
  color: white;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.headline-content h1{
  font-size: 80px;

}
.headline-content span{
  color: gray;

}

.media-wrapper nav {
  display:flex;
  flex-flow: row wrap;
  width: 100%;
}

.media-wrapper nav img{
  width: 14%;
  margin-left: 9%;
  height:100px;
}
.media-wrapper nav ul{
   width: 30%;
  padding-left:35%;
  display: flex;
  flex-flow:row;
  justify-content: space-evenly;
  align-items:center;
}
.media-wrapper nav ul li{
    list-style:none;
}
.media-wrapper nav ul li a{
  text-decoration: none;
  color: white;
  width: 50%;
}

.second-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
  border: 1px solid black;
}
.second-content-wrapper  section{
  width: 100%;
  display: flex;
  order: 3;
}
.second-content-wrapper h2{
  font-size: 40px;
  width: 20%;
  margin-top: 0%;
  border: 1px solid black;


}

.second-content-wrapper img{
  width: 300px;
  height: 240px;
  border: 1px solid black;
  order: 1;
  align-self: flex-end;
}
.second-content-wrapper span{
  position: relative;
  left: 30%;
  top: 30px;
}

}
.second-content-wrapper  section span a{
  text-decoration: none;
  color: red;
  font-size: 18px;
  font-family: fantasy;
  border: 1px solid black;

}
.second-content-wrapper span+img{
  width: 20%;
  height: 300px;
  order: 2;

}

.second-content-wrapper p{
  border: 1px solid black;
  width: 18%;
  order: 4;
  margin-left: 25%;
}
.bottom-section{
  width: 100%;
}

.third-row{
  width: 100%;
}
.third-content-wrapper{
  height: auto;
  display: flex;
}

.third-content-wrapper img{
  width: 33.333%;
  height: 250px;

}

.last-section{
  display: flex;

}
.forth-row{
  display: flex;
  width: 100%;
}
.forth-content-wrapper{
  width: 50%;
  margin-left: 23%;
}

.forth-content-wrapper img{
  width: 100%;
  height: auto;
  object-fit: contain;

}
